.form {
    margin: 5%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 0.7rem;
    border: 5px solid #092327;
    background: rgba(0, 0, 0, 0.6);
    grid-column: 1/1; }
    .form h2 {
      color: #fff;
      text-align: center;
      margin: 0;
      font-size: 30;
      margin-bottom: 2rem; }
    .form input, .form textarea {
      width: 100%;
      margin-bottom: 2rem;
      padding: 0.7rem;
      box-sizing: border-box;
      font-size: 1.7rem;
      border: none;
      border-radius: 0.7rem; }
    .form textarea {
      min-height: 10rem;
      max-height: 10rem;
      max-width: 100%; }
    .form #boton {
      background-color: #092327;
      color: #fff;
      padding: 2rem; }
      .form #boton:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: all 0.5s ease; }
        
        .contacto{
          padding: 0px 700px;
        }