* {
  padding: 0;
  margin: 0;
}

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
 */

.header {
  display: flex;
  flex-flow: row nowrap;
  color: #f4b445;
  background-color: rgba(90, 28, 23, 255);
  height: 15vh;
  align-items: center;
}

.header img {
  height: 100%;
  flex: 1 1;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  flex: 3 1 auto;
  font-size: 3vw;
  text-align: center;
  width: 40%;
}

.header nav {
  flex: 5 1 auto;
  width: 60%;
  overflow: hidden;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

li a {
  font-size: 1.5vw;
  display: block;
  color: #f4b445;
  text-align: center;
  padding: 2vmin;
  text-decoration: none;
}

li a:hover {
  background-color: #f4b445;
  border-radius: 1vw;
  color: rgba(90, 28, 23, 255);
}


.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 28, 23, 255);
  color: #f4b445;
  height: 5vh;
  overflow-x: auto;
}

.footer a img {
  width: 20%;
}



.centro {
  display: flex;
  min-height: 80vh;
  background-color: rgb(230, 230, 230);
}

.nav {
  display: flex;
  flex: 1 1 15%;
  margin: 1vh;
  max-height: 80vh;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 2vh;
  flex: 1 1 65%;
  max-height: 80vh;
}

.aside {
  margin: 1vh;
  display: flex;
  flex: 1 1 15%;
}

.nav .imagenIzquierdaIndex img,
.aside .imagenDerechaIndex img {
  max-height: calc(70vh - 2vh);
  width: auto;
}

.main p {
  font-family: 'Lato', sans-serif;
  font-size: 1.25vw;
  text-align: justify;
}



#textoNoticias1,
#textoNoticias2,
#textoNoticias3,
#textoNoticias4 {
  font-size: 2vh;
  padding: 5px;
  margin: 5px;
  margin-right: 20px;
  text-align: justify;
}


h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2vw;
  border-bottom: solid black 1px;
}


/* Contacto */

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.form {
  margin: 40px 0;
  box-sizing: border-box;
  border-radius: 0.7rem;
  border: 1px solid #092327;
  background: rgba(0, 0, 0, 0.6);
}


.form .linea {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.input-padron {
  display: block;
  margin: 0 0 0.3vh;
  padding: 0.2vh 0.5vh;
  width: 50%;
}

.checkbox {
  margin: 0.2vh 0;
}

.enviar {
  width: auto;
  margin-left: calc(max(10vh));
  padding: 1vh 0;
  font-size: 2vh;
  font-weight: bold;
  border: none;
  border-radius: 1vh;
  transition: 1s all;
  cursor: pointer;
}




.form .linea .campo {
  flex: 1;
  margin-right: 1rem;
}

.form .linea .campo.checkbox {
  flex: 2;
}

.form .linea label,
.form .linea .checkbox label {
  color: #fff;
  margin-right: 0.5rem;
}

.form .linea input[type="text"],
.form .linea input[type="email"],
.form .linea input[type="tel"],
.form .linea textarea,
.form .linea select {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.7rem;
  border: none;
}

.form .linea .enviar {
/*   margin-left: 5rem; */
  background-color: rgba(90, 28, 23, 255);
  color: #f4b445;
}

.form .linea .enviar:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

legend {
  color: white;
  border: none;
}

/* fin estilos del formulario de contacto */








/*
específicos de nuestra misión
*/

.video {
  position: relative;
    width: 60vw;
  height: 56.25vw; 
  max-height: 40vh;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* Estilos de la hoja "nosotros.html"*/

.tarjetas-container {
  display: flex;
  text-align: center;
}

.tarjeta-socio {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin: 3px;
  border: 1px solid black;
  border-radius: 5px;
}

.tarjeta-socio.Honorario {
  background-color: gold;
}

.tarjeta-socio.Vitalicio {
  background-color: lightsalmon;
}

.tarjeta-socio.Juvenil {
  background-color: lightblue;
}

.tarjeta-socio.Activo {
  background-color: lightgreen;
}


.animacion {
  display: flex;
  text-align: center;
  align-items: center;
}

.aside h2 {
  background-color: rgba(90, 28, 23, 255);
  color: #f4b445;
  text-align: center;
  font-size: 1.5vw;
  border: solid #f4b445;
  animation: animacion-h2 10s infinite;
}


/* Animación del botón para asociarse, página nosotros en aside  */ 

@keyframes animacion-h2 {
  0% {
    background-color: rgba(90, 28, 23, 255);
    color: #f4b445;
    border: #f4b445;
    transform: scale(1.1)
  }

  10% {
    background-color: rgba(90, 28, 23, 255);
    color: #f4b445;
    border: #f4b445;
    transform: scale(1.2)
  }

  20% {
    background-color: #f4b445;
    color: rgba(90, 28, 23, 255);
    border: rgba(90, 28, 23, 255);
    transform: scale(1.3)
  }

  30% {
    background-color: #f4b445;
    color: rgba(90, 28, 23, 255);
    border: rgba(90, 28, 23, 255);
    transform: scale(1.4)
  }

  40% {
    background-color: rgba(90, 28, 23, 255);
    color: #f4b445;
    border: #f4b445;
    transform: scale(1.5)
  }

  50% {
    background-color: rgba(90, 28, 23, 255);
    color: #f4b445;
    border: #f4b445;
    transform: scale(1.6)
  }

  60% {
    background-color: #f4b445;
    color: rgba(90, 28, 23, 255);
    border: rgba(90, 28, 23, 255);
    transform: scale(1.5)
  }

  70% {
    background-color: #f4b445;
    color: rgba(90, 28, 23, 255);
    border: rgba(90, 28, 23, 255);
    transform: scale(1.4)
  }

  80% {
    background-color: rgba(90, 28, 23, 255);
    color: #f4b445;
    border: #f4b445;
    transform: scale(1.3)
  }

  90% {
    background-color: rgba(90, 28, 23, 255);
    color: #f4b445;
    border: #f4b445;
    transform: scale(1.2)
  }

  100% {
    background-color: rgba(90, 28, 23, 255);
    color: #f4b445;
    border: #f4b445;
    transform: scale(1.1)
  }
}





/* LOGROS */

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
  background-color: #FFF;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: rgba(90, 28, 23, 255);
  text-decoration: none;
  overflow: hidden;

  position: relative;
}

.ag-courses-item_link:hover .ag-courses-item_title,
.ag-courses-item_link:hover .ag-courses-item_date,
.ag-courses-item_link:hover {
  text-decoration: none;
  color: rgba(90, 28, 23, 255);

}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #f9b234;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_description {
  font-size: 23px;
  color: #FFF;
  min-height: 7px;
  margin: 0 0 25px;

}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;


  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #f4b445;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #f4b445;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #f4b445;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #f4b445;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #f4b445;

}



#video {
  flex-shrink: auto;
}









@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 769px) {
  .ag-format-container {
    width: 96%;
  }

  .nav {
    display: none;
  }

  .main p {
    font-size: 1.8vw;
  }
}

  .main, .nav {
    max-height: none;
  }








@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.cards {
  margin: 0 auto;
}

.ag-format-container img {
  width: 100%;
}


@media only screen and (max-width: 420px) {

  .header{
    flex-direction: column;
  }
  
  .header h1 {
    display: flex;
    width: 100%;
    font-size: 2rem;
  }


  li a {
    font-size: 0.9rem;
    }

  .main h2 {
    font-size: 1.5rem;
  }

  .main p {
    font-size: 1rem;
  }

  .header img {
    display: none;
  }

  .aside ,.nav {
    display: none;
  }

  .centro {
    display: flex;
    flex-direction: column;
  }

  .header nav {
    width: 100%;
    align-items:flex-start;

  }

  .form .linea {
    flex-direction: column;
  }
  .form .linea .enviar {
    margin-left: 0rem;
  }

  
}
/* "login" es el div que tiene toda la logica del CRUD */
.login h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2vw;
  border-bottom: solid black 1px;
}

.formAcceso {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vh;
  padding: 2vh;
  border: 2px solid gray;
  border-radius: 5%;
  background-color: gray;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

label {
  font-weight: bold;
}

.form-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-button {
  padding: 1.1% 10%;
  font-size: 1.3rem;
  margin: 2%;
  background-color: rgba(90, 28, 23, 255);
  color: #f4b445;
  border: none;
  cursor: pointer;
}

.form-button:hover {
   transform: scale(1.2);
}

.turno { /* esta es la clase del botón de "turnos" */
  font-size: 1.3rem;
  background-color: rgba(90, 28, 23, 255);
  color: #f4b445;
  border: none;
  margin: 2%;
  padding: 1.1% 3% 1.1% 3%;
}

.reducir {
  background-color: transparent;
  color: black ;
  font-size: 1rem;
}

.turno:hover {
  transform: scale(1.05);
}


.botoneraAdministrador {
  display: flex;
  justify-content: space-around
}

/* tablas Administración*/

.tablaAdm {
  width: 40%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tablaAdm th,
.tablaAdm td {
  border: 1px solid black;
  padding: 8px;
}

.tablaAdm th {
  background-color: #ccc;
}

.tablaAdm tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tablaAdm tbody tr:hover {
  background-color: #e0e0e0;
}

/* FORMULARIOS DE CURSOS */

.formAdm {
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.formAdm label {
  display: block;
  margin-bottom: 10px;
}

.formAdm input[type="text"],
.formAdm input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

/* MODULO USUARIO y TURNOS  ADMINISTRADOR*/
.moduloUsuario {
  display: flex;
}
.moduloTurnos {
  display: flex;
  /* background-color: red; */
}

#etiqueta {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.botoneraUsuario {
  display: flex;
  justify-content: space-around
}
